# Optionals
aiofiles
graphene
itsdangerous
jinja2
python-multipart
pyyaml
requests
ujson

# Testing
autoflake
git+https://github.com/em92/databases.git#egg=project[sqlite]
isort
mypy
pytest
pytest-cov

# Documentation
mkdocs
mkdocs-material

# Python 3.5 porting
async_generator
