# Optionals
aiofiles
graphene
itsdangerous
jinja2
python-multipart
pyyaml
requests
ujson

# Testing
autoflake
git+https://github.com/em92/databases.git#egg=project[sqlite]
isort<5.0
mypy
pytest
pytest-cov
pytest-asyncio

# Documentation
mkdocs
mkdocs-material
# mkautodoc # mkautodoc is not used in backport and 3.6+ only

# Python 3.5 porting
async_generator
